{% extends 'overall/includes/layout_include' %}
{% block style_header %}
    <style type="text/css">
        .header{
            background: rgb(143,12,57);
            background: linear-gradient(90deg, rgba(143,12,57,1) 0%, rgba(204,51,102,0.95) 50%, rgba(255,102,153,0.9) 100%);
        }
    </style>
{% endblock %}

{% block submenuTop %}
    <a href="bombona/#vision" class="w3-bar-item w3-button w3-hover-none" data-item="vision">Visión</a>
    <a href="bombona/#coordinadora" class="w3-bar-item w3-button w3-hover-none" data-item="coordinadora">Coordinadora</a>
    <a href="bombona/#programa" class="w3-bar-item w3-button w3-hover-none" data-item="programa">Programa</a>
    <a href="bombona/#sede" class="w3-bar-item w3-button w3-hover-none" data-item="sede">Sede</a>
    <a href="bombona/#trabajo" class="w3-bar-item w3-button w3-hover-none" data-item="trabajo">Trabajo</a>
{% endblock %}