{% extends 'overall/includes/layout_include' %}

{% block submenuTop %}
    <a href="#nosotros" class="w3-bar-item w3-button w3-hover-none" data-item="nosotros">Nosotros</a>
    <a href="#valores" class="w3-bar-item w3-button w3-hover-none" data-item="valores">Valores</a>
    <a href="#staff" class="w3-bar-item w3-button w3-hover-none" data-item="staff">Staff</a>
    <a href="#campus_accion" class="w3-bar-item w3-button w3-hover-none" data-item="campus_accion">Campus de Acción</a>
    <a href="#alianzas" class="w3-bar-item w3-button w3-hover-none" data-item="alianzas">Alianzas</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hover-none" data-item="contact">Contacto</a>
{% endblock %}