<div class="w3-top topnav">
    <div class="w3-bar w3-white w3-padding w3-card">
        <a href="home" class="w3-bar-item w3-button"><b>GOMUF</b></a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small w3-text-blue w3-wide">
            <a href="ebooks/" class="w3-bar-item w3-button w3-hover-none" data-item="ebooks">
                Biblioteca Virtual
            </a>
            <a href="bombona/" class="w3-bar-item w3-button w3-hover-none" data-item="bombona">Niños Bomboná</a>
        </div>
        <div class="w3-left w3-hide-small w3-block">
            <a href="#nosotros" class="w3-bar-item w3-button w3-hover-none" data-item="nosotros">Nosotros</a>
            <a href="#valores" class="w3-bar-item w3-button w3-hover-none" data-item="valores">Valores</a>
            <a href="#staff" class="w3-bar-item w3-button w3-hover-none" data-item="staff">Staff</a>
            <a href="#campus_accion" class="w3-bar-item w3-button w3-hover-none" data-item="campus_accion">Campus de Acción</a>
            <a href="#alianzas" class="w3-bar-item w3-button w3-hover-none" data-item="alianzas">Alianzas</a>
            <a href="#contact" class="w3-bar-item w3-button w3-hover-none" data-item="contact">Contacto</a>
        </div>
    </div>
</div>

<header class="w3-container logo-header w3-center w3-padding-32 w3-white" style="margin-top: 5%">
    <h1 class="w3-jumbo"><b>Proyecto Global</b></h1>
    <h3 class="w3-xxlarge"><b><i>Metamorfosis Universitaria Fraternity</i></b></h3>
</header>

{% include 'overall/banner' %}