<div id="menu-top" class="w3-col l6 m6">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-hide-small w3-text-white w3-col l12 w3-align-right w3-center">
        <a id="btn_home" href="home" class="w3-bar-item w3-button w3-hover-none"><i class="fa fa-home"> Inicio</i></a>
        
        <a href="ebooks/" class="w3-bar-item w3-button w3-hover-none w3-border-bottom" data-item="ebooks">
            Biblioteca Virtual
        </a>
        <a href="bombona/" class="w3-bar-item w3-button w3-hover-none w3-border-bottom" data-item="bombona">Niños Bomboná</a>
        <a href="piaroa/" class="w3-bar-item w3-button w3-hover-none w3-border-bottom" data-item="piaroa">Misión Piaroa</a>
    </div>
</div>


<script>
    path = location.pathname.replace('/gomuf.com/', '');
    if(path == '' || path == 'home'){
        document.getElementById('btn_home').style.display = "none";
    };
</script>
