{% extends 'overall/layout' %}
{% block appBody %}

<!-- incluyendo el banner al home -->
{% include 'overall/includes/piaroa' %}


<div class="w3-row w3-white w3-padding-large" style="height: 900px">
	<div class="w3-col l6 m6 s12 margin-top-20" id="misiones">
		<div class="w3-panel">
			<img src="assets/app/img/mision_piaroa/alberto_adipate.png" class="w3-image w3-col l6 m6 s12" width="500" height="571">	
			<div class="w3-container w3-col l6 m6 s12 w3-text-left" style="margin-top: 15%">
				<strong class="w3-xxlarge">Misionero <br> Alberto Adipate</strong>
			</div>
		</div>
		<div class="w3-panel-footer">
			<br>
			<div class="w3-text-left w3-section">
				<a href="https://www.facebook.com/adipate" target="_blank" class="w3-padding-large w3-margin-large w3-margin-right w3-xlarge">
                	<i class="fa fa-facebook w3-xlarge w3-text-blue">  @adipate </i>
	            </a>
	            <a href="https://www.instagram.com/albertoadipate/" target="_blank" class="w3-padding-large w3-margin-large w3-margin-right w3-xlarge">
	                <i class="fa fa-instagram w3-xlarge w3-text-purple">  @albertoadipate </i>
	            </a>
			</div>
		</div>
	</div>

	<div class="w3-rest w3-center margin-top-20">
		<div class="w3-panel w3-display-container">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4595.3658454740125!2d-67.5593223848571!3d5.043520696339159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e75663d1e9135a9%3A0xd75ec09f85701e60!2sRaudal%20de%20Danto!5e1!3m2!1ses-419!2sve!4v1603128988431!5m2!1ses-419!2sve" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="w3-display-top"></iframe>

			<div class="w3-container w3-display-center">
				<p style="font-size: larger;">Lugar de trabajo <br><strong> Raudal del Danto. Municipio Autana- Amazonas 火.</strong></p>
			</div>

		</div>
	</div>
	<!--
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9697.878201982225!2d-67.55713400000002!3d5.043521!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd75ec09f85701e60!2sRaudal%20de%20Danto!5e1!3m2!1ses-419!2sve!4v1603130271769!5m2!1ses-419!2sve" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="w3-display-top w3-hide"></iframe>
	-->
</div>

<div class="w3-section w3-center programa_piaroa" id="programa">
	<div class="w3-padding-64">
		<p class="w3-xlarge">
			Capacitando a nuevo liderazgo de la iglesia Cristiana piaroa
			<br>en las siguientes 谩reas:<br>
			<strong class="w3-xxlarge w3-padding">Cosmovision - Liderazgo - Educaci贸n con los Principios B铆blicos <br>
			Y Traducci贸nes de la Historia B铆blica en su Idioma de Coraz贸n. </strong>
			<br><br>
			Tambi茅n promoviendo el <strong class="w3-xlarge w3-padding">rescate de la identidad cultural Piaroa </strong>por medio de la alfabetizaci贸n con razonamientos. 
			<br><br>
			Con el fin de que la iglesia cristiana Piaroa tenga un <strong class="w3-xlarge w3-padding">conocimiento amplio de la verdad de Cristo. </strong>
		</p>
	</div>
</div>

<style type="text/css">
	.galeria_piaroa{
		padding: 5% 2%;
	}

	.galeria_piaroa .w3-rest > img{
		display: none;
		width: 80%;
	}
</style>

<div class="w3-row w3-section w3-center w3-white galeria_piaroa" id="galeria">
	<div class="w3-row-padding w3-section w3-right w3-col l4 m4 s6">
		<div class="w3-padding w3-col l6 m6 s4">
			<img class="demo w3-opacity w3-hover-opacity-off" src="assets/app/img/mision_piaroa/img1.jpeg" style="width:80%; height: 70%; cursor:pointer" onclick="currentDiv(1)">
		</div>
		<div class="w3-padding w3-col l6 m6 s4">
			<img class="demo w3-opacity w3-hover-opacity-off" src="assets/app/img/mision_piaroa/img2.jpeg" style="width:80%; height: 70%; cursor:pointer" onclick="currentDiv(2)">
		</div>
		<div class="w3-padding w3-col l6 m6 s4">
			<img class="demo w3-opacity w3-hover-opacity-off" src="assets/app/img/mision_piaroa/img3.jpeg" style="width:80%; height: 70%; cursor:pointer" onclick="currentDiv(3)">
		</div>
		<div class="w3-padding w3-col l6 m6 s4">
			<img class="demo w3-opacity w3-hover-opacity-off" src="assets/app/img/mision_piaroa/img4.jpeg" style="width:80%; height: 70%; cursor:pointer" onclick="currentDiv(4)">
		</div>
		<div class="w3-padding w3-col l6 m6 s4">
			<img class="demo w3-opacity w3-hover-opacity-off" src="assets/app/img/mision_piaroa/img5.jpeg" style="width:80%; height: 70%; cursor:pointer" onclick="currentDiv(5)">
		</div>
		<div class="w3-padding w3-col l6 m6 s4">
			<img class="demo w3-opacity w3-hover-opacity-off" src="assets/app/img/mision_piaroa/img6.jpeg" style="width:80%; height: 70%; cursor:pointer" onclick="currentDiv(6)">
		</div>
		<div class="w3-padding w3-col l6 m6 s4">
			<img class="demo w3-opacity w3-hover-opacity-off" src="assets/app/img/mision_piaroa/img7.jpeg" style="width:80%; height: 70%; cursor:pointer" onclick="currentDiv(7)">
		</div>
		<div class="w3-padding w3-col l6 m6 s4">
			<img class="demo w3-opacity w3-hover-opacity-off" src="assets/app/img/mision_piaroa/img8.jpeg" style="width:80%; height: 70%; cursor:pointer" onclick="currentDiv(8)">
		</div>
		<div class="w3-padding w3-col l6 m6 s4 w3-hide">
			<img class="demo w3-opacity w3-hover-opacity-off" src="assets/app/img/mision_piaroa/img9.jpeg" style="width:80%; height: 70%; cursor:pointer" onclick="currentDiv(9)">
		</div>
	</div>

	<div class="w3-rest">
		<img class="mySlides" src="assets/app/img/mision_piaroa/img1.jpeg" style="display: block;">
		<img class="mySlides" src="assets/app/img/mision_piaroa/img2.jpeg">
		<img class="mySlides" src="assets/app/img/mision_piaroa/img3.jpeg">
		<img class="mySlides" src="assets/app/img/mision_piaroa/img4.jpeg">
		<img class="mySlides" src="assets/app/img/mision_piaroa/img5.jpeg">
		<img class="mySlides" src="assets/app/img/mision_piaroa/img6.jpeg">
		<img class="mySlides" src="assets/app/img/mision_piaroa/img7.jpeg">
		<img class="mySlides" src="assets/app/img/mision_piaroa/img8.jpeg">
	</div>

</div>

<script>
	function currentDiv(n) {
		showDivs(slideIndex = n);
	}

	function showDivs(n) {
		var i;
		var x = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("demo");
		if (n > x.length) {slideIndex = 1}
		if (n < 1) {slideIndex = x.length}
		for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
		}
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
		}
		x[slideIndex-1].style.display = "block";
		dots[slideIndex-1].className += " w3-opacity-off";
	}
</script>


{% endblock %}