{% extends 'overall/layout' %}
{% block appBody %}

<!-- incluyendo el banner al home -->
{% include 'overall/includes/piaroa' %}


<div class="w3-row">
	<div class="w3-col l6 m6 s12">
		Misionero Alberto Adipate.
		<img src="assets/app/img/mision_piaroa/alberto_adipate.png" class="w3-image w3-margin-top" width="335" height="471">	
	</div>
</div>
Lugar de trabajo: Raudal del Danto. Municipio Autana- Amazonas 火.
Capacitando a nuevo liderazgo de la iglesia Cristiana piaroa, en el siguiente 谩rea: cosmovision, liderazgo, educaci贸n con los principios b铆blicos, y traducci贸nes de la historia b铆blica en su idioma de coraz贸n. 

Tambi茅n promoviendo el rescate de la identidad cultural Piaroa por medio de la alfabetizaci贸n con razonamientos. 

Con el fin de que la iglesia cristiana Piaroa tenga un conocimiento amplio de la verdad de Cristo.
{% endblock %}