a{
    text-decoration: none;
}

/* Header style */
.header *{
    transition: all .3s;
    transition-timing-function: ease-in;
}
.header{
    z-index:  1000;
    /*background: rgb(165,178,209);
    background: linear-gradient(90deg, rgba(165,178,209,0.9) 0%, rgba(77,86,117,0.85) 35%, rgba(49,49,49,0.8) 100%);*/
    
    /*
    background: rgb(0,19,106);
    background: linear-gradient(90deg, rgba(0,19,106,0.9) 0%, rgba(29,44,112,0.85) 35%, rgba(99,107,143,0.8) 100%);
    */

    background: rgb(16,45,125);
    background: linear-gradient(90deg, rgba(16,45,125,1) 0%, rgba(85,100,161,.5) 65%, rgba(238,241,255,.4) 100%);
}

.header img, .header h1, .header h2, .header div#menu-top{
    display: inline-block;
}

.header img{
    width: 150px;
    height: 125px;
}
.header .submenu{
    width: 600px;
}

.header .submenu a, .header #menu-top a{
    padding: 1%;
    margin: 1%;
    text-shadow: 0px 0px 5px black;
}

.header .submenu a:hover, .header #menu-top a:hover{
    color: gold !important;
    text-shadow: 0px 0px 0px;
}

.header #menu-top a{
    font-size: 100%;
}

.header .submenu a:hover{
    background-color: #ffffff36 !important;
}
/*end header style */

/* style for banner section */
#banner_seccion{
    display: block;
}

.banner_slides:hover{
    cursor: pointer;
}
.banner-image {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 800px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-image0 {
    background-image: url("../img/libros/joven_resilente.jpeg");
}
.banner-image1 {
    background-image: url("../img/libros/llamado_misionero_ciberia.jpg");
}
.banner-image2 {
    background-image: url("../img/libros/lo_que_aprendi_esta_cuarentena.jpg");
}
.banner-image3 {
    background-image: url("../img/libros/libro.jpg");
}
.banner-image4 {
    background-image: url("../img/banners/bunker_logo.jpg");
    background-position: bottom;
}
/* Position text in the middle of the page/image */
.banner-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
/*end style banner section */

/* style for news section*/
#news{
    /*background: url("assets/app/img/news/bg1.jpg") center no-repeat;*/
    background-size: 100%;
}
#news_galeria:after {
    content: "";
    display: table;
    clear: both;
}
#news_galeria {
    text-align: center;
    display: block;
}
.newsMySlides {
    display: none;
}
.cursor {
    cursor: pointer;
}
/* The Modal (background) */
.newsModal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
/* Modal Content */
.news-modal-content {
    position: relative;
    background-color: #000b1bf7;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
/* The Close Button */
#newsMyModal .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}
#newsMyModal .close:hover,
#newsMyModal .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
/* Next & previous buttons */
#newsMyModal .prev,
#newsMyModal .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
/* Position the "next button" to the right */
#newsMyModal .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
#newsMyModal .prev:hover,
#newsMyModal .next:hover,
#newsMyModal .close:hover {
    background-color: rgba(115, 113, 113, 0.47);
}
#newsMyModal .numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
#news_galeria img {
    margin-bottom: -4px;
    width: 40%;
    margin: 1%;
}
#newsMyModal .demo {
    opacity: 0.4;
}
#newsMyModal .active,
#newsMyModal .demo:hover {
    opacity: 1;
}
#news_galeria img.hover-shadow {
    transition: 0.3s;
}
#news_galeria img.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#newsMyModal img{
    width: 50%;
    margin-left: 25%;
}
/*end news section*/

#campus_accion, #alianzas{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease-in-out;
    position: relative;

    margin: auto 0px !important;
}
#campus_accion .w3-jumbo, #alianzas .w3-jumbo{
    position: relative;
    z-index: 1;
}
#campus_accion::before, #alianzas::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}


#nosotros.bg-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#nosotros{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    min-height: 700px;
    background-image: url('../img/fondo.jpg');
}

.color-background{
    padding: 10px;
    border-radius: 8px;
    opacity: 0.75;
    transition: all .3s;
}

.black-background{
    background-color: #f1f1f1;
}

.gray-background{
    background-color: #f1f1f185 ;
}

.color-background:hover{
    opacity: 1;
}

.nombre_casa_estudio{
    font-weight: 600;
    padding: 5% !important;
}

#contact div.w3-panel div.w3-xlarge i.fa {
    width: 30px;
    text-align: center;
}


/* Seccion Bomboná */
#somos {
    background: url('../img/ninos-bombona/bg412.jpg') bottom no-repeat;
    margin-top: 0 !important;
}
#programa {
    background: url('../img/ninos-bombona/bg_bus.jpg') center no-repeat;
    margin-top: 3% !important;
}
#somos, #programa{
    height: 800px;
    background-size: cover;
    padding: 5%;
}
#programa div.w3-section {
    text-align: center;
}

#sede {
    background: url('../img/ninos-bombona/bg_pedazo.jpg') center;
    margin-top: 0px !important;
}